ACCESS_TOKEN_EXPIRE_MINUTES=1
ALGORITHM=HS256
DATABASE_URL="example"
ENVIRONMENT=production

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="example.@gmail.com"
SMTP_PASSWORD="2fdf gerd ytdsryr 44 agbk"
SMTP_FROM_EMAIL="example.@gmail.com"
SMTP_TLS=True
FRONTEND_URL="https://stgc-front.onrender.com"

SECRET_KEY="example_secret_key"
INTERNAL_API_KEY="example_internal_api_key"
